.row.project
  .row
    .col-md-3.col.date
      h1.day 15th
      h4.month.mb-0 January
      p 15:00-16:00
    .col-md-6
      p.author #[span.me Giulia Palma]
      h3.next_title.title
        | Combinatorial properties of degree sequences of 3-uniform hypergraphs arising from saind arrays
    .col-md-2.address
      p.link
        | #[a(href="") Calendar Event]
      p.link
        | #[a(href="") Google Meet]
  .row.details
    .col-md-3
    .col-md-6
      p
        | The characterization of k-uniform hypergraphs by their degree sequences, say k-sequences, has been a longstanding open problem for k>2. Very recently its decision version was proved to be NP-complete by Deza et al. Formally, the decision version of the problem is: Given π=(d1,d2,…,dn) a non increasing sequence of positive integers, is π the degree sequence of a k-uniform simple hypergraph? The NP-completeness reduction uses, in an intermediate step, a subclass of 3-uniform hypergraphs whose incidence matrices are computed starting from a sequence of integer numbers. In general, the complexity of the reconstruction of the elements of such a subclass is unknown.
    .col-md-3.address
      .row
        p
          | Sala Seminari Est#[br]
          | Dipartimento di Informatica#[br]
          | Largo Bruno Pontecorvo 3#[br]
          | 56127, Pisa, PI
      .row
        p.link
          | #[a(href="") Calendar Event]
        p.link
          | #[a(href="") Google Meet]
.row.project
  .col-md-3
    .row
      .col-md-12.col.date
        h1.day 29th
        h4.month.mb-0 March
        p 15:00-16:00
  .col-md-9
    .row
      p.author #[span.me Francesco Tosoni]
    .row
      .col-md-9
        h3.next_title.title
          | Locality Filtering for Efficient Ride Sharing Platforms
      .col-md-3.address
        p.link
          | #[a(href="") Calendar Event]
        p.link
          | #[a(href="") Google Meet]
.row.project
  .col-md-3
    .row
      .col-md-12.col.date
        h1.day 29th
        h4.month.mb-0 March
        p 15:00-16:00
  .col-md-9
    .row
      p.author #[span.me Matteo Loporchio]
    .row
      .col-md-9
        h3.next_title.title
          | Techniques for query verification
      .col-md-3.address
        p.link
          | #[a(href="") Calendar Event]
        p.link
          | #[a(href="") Google Meet]
