.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 8th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Njagi Mwaniki]
    h4.title.mb-1
      | Inferring Viral Transmission Using Closely Related Viral Genomes
  .col-md-7
    p.abstract#talk-220607c258f7d75f8df74e7882bf5900.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 22nd
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Nicolò Tonci]
    h4.title.mb-1
      | Targeting scale-out and scale-up platforms with a unified parallel programming model
  .col-md-7
    p.abstract#talk-0fc6ae091715c1e4b706d8d21f6a4d02.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 29th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Alberto Ottimo]
    h4.title.mb-1
      | Data Stream Processing on FPGAs
  .col-md-7
    p.abstract#talk-3f351ec14ef7a076a139d2d22384935b.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 6th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Marco Cardia]
    h4.title.mb-1
      | IT systems for assessing the environmental impact of industrial processes
  .col-md-7
    p.abstract#talk-1d8405179536da520409753ce2392097.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 13th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Luca Corbucci]
    h4.title.mb-1
      | Semantic enrichment of XAI explanation for healthcare
  .col-md-7
    p.abstract#talk-3803ecee41626eec181ae2d04eaae8eb.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 20th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Marco Gaglianese]
    h4.title.mb-1
      | Monitoring the Cloud-IoT continuum for latency-Aware applications placement
  .col-md-7
    p.abstract#talk-fb2fed6460ad4a38de646d9df2d1ee24.collapse.mt-2
        | No abstract available