.row.mt-4.mb-4
  h1 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 8th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-8.col-9
    p.author #[span.me Njagi Mwaniki]
    h4.title.mb-1
      | Inferring Viral Transmission Using Closely Related Viral Genomes
.row.project
  .col-md-2.col-3
    h3.mb-0 22nd
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-8.col-9
    p.author #[span.me Nicolò Tonci]
    h4.title.mb-1
      | Targeting scale-out and scale-up platforms with a unified parallel programming model
.row.project
  .col-md-2.col-3
    h3.mb-0 29th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-8.col-9
    p.author #[span.me Alberto Ottimo]
    h4.title.mb-1
      | Data Stream Processing on FPGAs
.row.project
  .col-md-2.col-3
    h3.mb-0 6th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-8.col-9
    p.author #[span.me Marco Cardia]
    h4.title.mb-1
      | IT systems for assessing the environmental impact of industrial processes
.row.project
  .col-md-2.col-3
    h3.mb-0 13th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-8.col-9
    p.author #[span.me Luca Corbucci]
    h4.title.mb-1
      | Semantic enrichment of XAI explanation for healthcare